.hf_home/
.venv/
.pytest_cache/
.venv-backups/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

outputs_bundle_20260329.zip
data/
pretrained_models/

REPA/pretrained_models/*.pt
SiT/pretrained_models/*.pt

*.swp
*.swo
.DS_Store
